# Visual Studio cache
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
Debug/
Release/
x64/
x86/
bin/
build/
out/

# IntelliSense cache
*.ipch
*.VC.db
*.opendb

# Compiled binaries
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.cache

# Logs & temp
*.log
*.tmp
*.bak
*.ncb
*.aps
